body {
    background-color: rgb(190, 233, 248);   
}

header{
    text-align: center;
}

.search-for-city {
    text-align: left;
    font-size: larger;
    font-weight: bolder;
}

u
{
    text-align: left;
    font-size: large;
    font-weight: bold;
}

ul li
{
    list-style: none;
}

.day-plus
{
    background-color: rgb(78, 115, 133);
    color: white;
}

img
{
    size: small;
}